<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Analyzation</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="http://47.116.207.105:8080/static/img/favicon.png" rel="icon">
  <link href="http://47.116.207.105:8080/static/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Vendor CSS Files -->
  <link href="http://47.116.207.105:8080/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="http://47.116.207.105:8080/static/css/style.css" rel="stylesheet">

  <!-- 引入 ECharts 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <!-- 引入 jquery 文件 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="http://47.116.207.105:8080/">GPT-NCCVer</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="http://47.116.207.105:8080">首页</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/index#about">关于我们</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/index#team">团队简介</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/analyzation">数据分析</a></li>
          <li><a class="getstarted scrollto" href="http://47.116.207.105:8080/index#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="http://47.116.207.105:8080/">首页</a></li>
          <li>数据分析</li>
        </ol>
        <h2>数据分析</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= 页面主要内容 ======= -->
    <section class="inner-page">
      <div class="container">
        <p>
          这里是这个页面的主要内容视图。如何在页面中插入Echarts图表：
        <ol>
          <li>在html中引入echarts和jquery的js文件</li>
          <li>在html指定位置添加一个div模块</li>
          <li>在django后台的api板块添加一个api，用于提供绘图数据</li>
          <li>在html中使用js调用api获取数据</li>
          <li>在html中使用document模块渲染图表</li>
        </ol>

        </p>
        <p>
          以下是一个Echarts图表测试，<br />从<a href="http://47.116.207.105:8080/api/">http://47.116.207.105:8080/api/</a>获取数据
        </p>
        <!-- 一个具有一定宽高的容器，用于渲染图表 -->
        <div id="chart" style="width: 600px; height: 400px;"></div>
      </div>
    </section><!-- End 页面主要内容 -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        Copyright &copy; 2022.Company name All rights reserved.</a>
      </div>
    </div>
    </div>
  </footer><!-- End Footer -->


  <!-- Vendor JS Files -->
  <script src="http://47.116.207.105:8080/static/vendor/aos/aos.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="http://47.116.207.105:8080/static/js/main.js"></script>


  <!-- 渲染图表 -->
  <script>
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('chart'));

    // 使用 AJAX 请求获取数据
    $.ajax({
      url: 'http://47.116.207.105:8080/api',
      method: 'GET',
      dataType: 'json',
      success: function (data) {

        // 获取数据成功后，处理数据并渲染图表
        var option = {
          title: {
            text: '示例柱状图'
          },
          tooltip: {},
          legend: {
            data: ['销量']
          },
          xAxis: {
            data: data.data.categories
          },
          yAxis: {},
          series: [{
            name: '销量',
            type: 'bar',
            data: data.data.data // 数据的 y 轴数值
          }]
        };

        // 使用刚指定的配置项和数据显示图表
        myChart.setOption(option);
      },
      error: function (xhr, status, error) {
        console.error('获取数据失败:', error);
      }
    });
  </script>

</body>

</html>