<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GPT-NCCVer</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="http://47.116.207.105:8080/static/img/favicon.png" rel="icon">
  <link href="http://47.116.207.105:8080/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="http://47.116.207.105:8080/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="http://47.116.207.105:8080/static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="http://47.116.207.105:8080/">GPT-NCCVer</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="http://47.116.207.105:8080">首页</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/curriculum/">课程评估</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/user/">用户分析</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/personalized/">个性推荐</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/resource/">资源优化</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/help/">帮助与支持</a></li>
          <li><a class="getstarted scrollto" href="http://47.116.207.105:8080/upload/">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>在线教育<br />综合大数据分析系统</h1>
          <h2>第十七届中国大学生计算机设计大赛大数据主题赛作品展示</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="http://47.116.207.105:8080/static/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= introduction Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Introduction</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section>
    <!-- End introduction Section -->

    <!-- ======= method Section ======= -->
    <section>
      <div>
        <div class="section-title">
          <h2>PROFESSIONAL METHODS</h2>
        </div>


      </div>
    </section>
    <!-- End method Section -->

    <!-- ======= COMPREHENSIVE DIMENSIONS Section ======= -->
    <section id="dimension">
      <div>
        <div class="section-title">
          <h2>Comprehensive Dimensions</h2>
        </div>
        <div class="row" style="margin-left: 50px; margin-right: 50px;">
          <div class="col-sm-6" >
            <div class="card">
              <div class="card-body" style="text-align: center">
                <h5 class="card-title">核心功能1：课程评估</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary" style="display: inline-block">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6" >
            <div class="card">
              <div class="card-body" style="text-align: center">
                <h5 class="card-title">核心功能2：用户分析</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-left: 50px; margin-right: 50px; margin-top: 30px;">
          <div class="col-sm-6" >
            <div class="card">
              <div class="card-body" style="text-align: center">
                <h5 class="card-title">核心功能3：个性推荐</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6" >
            <div class="card">
              <div class="card-body" style="text-align: center">
                <h5 class="card-title">核心功能4：资源优化</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End COMPREHENSIVE DIMENSIONS Section -->

    <section>
      <div>
        <div class="section-title">
          <h2>advantage</h2>
        </div>


      </div>
    </section>


    <!-- ======= developers Section ======= -->
    <section>
      <div>
        <div class="section-title">
          <h2>Developers</h2>
        </div>
        <div style="text-align: center">
          <div class="card" style="width: 15rem;display: inline-block;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;display: inline-block;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;display: inline-block;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;display: inline-block;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 15rem;display: inline-block;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End developers Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- 相关链接 -->
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>GPT-NCCVer</h3>
            <p>
              Whuhan City <br>
              Hubei Province<br>
              2024 <br><br>
              <strong>Email:</strong> 2021302191536@whu.edu.cn<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://47.116.207.105:8080">主页</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://47.116.207.105:8080/upload/">快速开始</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://47.116.207.105:8080/help/">帮助与支持</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://47.116.207.105:8080/curriculum/">课程评估</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://47.116.207.105:8080/user/">用户分析</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://47.116.207.105:8080/personalized/">个性推荐</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://47.116.207.105:8080/resource/">资源优化</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Prospect</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          </div>

        </div>
      </div>
    </div>

    <!-- 许可 -->
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        Copyright &copy; 2024.GPT-NCCVER</a>
      </div>

    </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="http://47.116.207.105:8080/static/vendor/aos/aos.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="http://47.116.207.105:8080/static/js/main.js"></script>

</body>

</html>