<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>资源优化</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="http://47.116.207.105:8080/static/img/favicon.png" rel="icon">
  <link href="http://47.116.207.105:8080/static/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Vendor CSS Files -->
  <link href="http://47.116.207.105:8080/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="http://47.116.207.105:8080/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="http://47.116.207.105:8080/static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="http://47.116.207.105:8080/static/css/page.css">
  <!-- 引入 ECharts 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <!-- 引入 jquery 文件 -->
  <script src="http://47.116.207.105:8080/static/vendor/jquery/jquery.min.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="http://47.116.207.105:8080/">GPT-NCCVer</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="http://47.116.207.105:8080">首页</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/curriculum/">课程评估</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/user/">用户分析</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/personalized/">个性推荐</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/resource/">资源优化</a></li>
          <li><a class="nav-link scrollto" href="http://47.116.207.105:8080/help/">帮助与支持</a></li>
          <li><a class="getstarted scrollto" href="http://47.116.207.105:8080/upload/">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <div id="section1">

    <div class="title">
      <div class="title-content1">
        <div class="title-left">
          <h3>用户分析</h3>
          <p>用户行为分析 | 学习成效预测 | 预警报告</p>
        </div>
      </div>
      <div class="space"></div>
      <div class="title-content2">
        <div class="title-right">
        </div>
      </div>
    </div>

    <div class="box1">
      <p style="color: white; font-size: large;display: flex;justify-content: center;align-items: center;">此处放置流程图</p>
    </div>

    <div class="box2">
      <div class="box2-title">
        <h5>专业的分析流程 & 丰富的功能选择</h5>
      </div>

      <div class="box2-content">
        <div class="content1">

        </div>
        <div class="content2">
          
        </div>
      </div>
    </div>
  
  </div>


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        Copyright &copy; 2024 GPT-NCCVer</a>
      </div>
    </div>
    </div>
  </footer><!-- End Footer -->


  <!-- Vendor JS Files -->
  <script src="http://47.116.207.105:8080/static/vendor/aos/aos.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="http://47.116.207.105:8080/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="http://47.116.207.105:8080/static/js/main.js"></script>


</body>

</html>